.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  height: 80px;
  font-family: 'Times New Roman', serif;
font-size: 22px; /* Увеличен шрифт */
}

.logo {
  width: 200px;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #111;
  font-weight: normal;
  
}

  


  .main-box {
    border: 2px solid #000;
    border-radius: 25px;
    padding: 40px;
    max-width: 2000px;
    margin: 50px auto;
    text-align: center;
    font-family: 'Times New Roman', serif;
    background-color: #151827;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    
  }

 

.icons-wrap {
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.left-icons {
 justify-items: left;
  gap: 30px;
}

.right-icons {
  display: block;
}
  
.icon {
  width: 40px;
  height: auto;
  opacity: 0.9;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.1);
}
 
  
  .main-box h1 {
    font-size: 48px;
    margin-bottom: 30px;
    color: white;
    text-align: center;
    
    
  }
  .main-box h2 {
    font-size: 25px ;
    color: #fdfbf4;

  }

  .opentAcc-button{
 background-color: #0F52BA;
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  }



.services {
  padding: 40px 20px;
  background-color: white;
  text-align: center;
}

.services-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
}

.services-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.service-card {
  background-color: #151827;
  padding: 20px;
  border-radius: 16px;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  text-align: left;
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-card .icon {
  font-size: 24px;
  margin-bottom: 10px;
}

.service-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
}

.service-card p {
  font-size: 14px;
  color: white;
  margin-bottom: 15px;
}

.service-card a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.help{
   padding: 40px 20px;
  background-color: white;
  text-align: center;
}


.help-title{
    font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
}

.help-grid {
 justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: 20px;
}


.help-card{
   background-color: #151827;
  padding: 20px;
  border-radius: 16px;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  text-align: left;
  transition: transform 0.3s ease;
  align-items: center;
}

.help-card:hover{
   transform: translateY(-5px);
}

.help-card h3{
   font-size: 20px;
  margin-bottom: 10px;
  color: white;
}
.help-card p {
  font-size: 14px;
  color: white;
  margin-bottom: 15px;
}
.help-card a {
   color: white;
  text-decoration: none;
  font-weight: bold;
}